.jobs-container {
    margin: 20px;
    padding: 20px;

}

.jobs-container h1 {
    font-size: 2em;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    color: #450068;
    margin-bottom: 30px;
}

.job-list {
    list-style-type: none;
    padding: 0;

}

.job-item {
    position: relative;
    margin-bottom: 30px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.job-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #8436a8;
}

.job-details {
    margin-top: 5px;
    color: #666;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.view-button {
    background-color:#8436a8;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.view-button:hover {
    background-color:#62287c;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #c82333;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #ddd;
}